.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ea580c;
	color: #f4f4f5;
	height: 38.4rem;
}

.content {
	max-width: 128rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 4rem 1rem;
}
